header {
  height: 442px;
  width: 1400px;
  margin: 0px auto 0px auto;
  border-top: 5px solid black;
  background-image: url(./first-website-header.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

h1, blockquote {
  font-family: 'Abril Fatface', cursive
}

.title {
  font-size: 20px;
  color: #222;
  position: absolute;
  bottom: 30px;
  left: 300px;
}

.bigger {
  font-size: 80px;
  margin-top: 0px;
}

h1 {
  margin-bottom: 0px;
}

h2, h3 {
  font-family: 'Josefin Sans', sans-serif;
  color: #222;
}

h3 {
  margin-top: 50px;
}

h4 {
  font-family: 'Merriweather', serif;
  font-size: 15px;
  margin-top: 0px;
}

h2 {
  text-transform: uppercase;
  margin-top: 60px;
  margin-bottom: 60px;
}

p, ul{
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.5;
  color: #222;
}

ul {
  list-style-type: square;
}

.introduction, .achievements, .experience, .training, .interests {
  width: 800px;
  margin: 0px auto 0px auto;
}

.introduction {
  font-size: 21px;
}

blockquote {
  height: auto;
  padding: 60px 0px 60px 50px;
  width: 850px;
  background: #404040;
  color: white;
  font-size: 55px;
  margin: 0px auto 0px auto;
  display: flex;
  align-items: center;
  position: relative;
}

blockquote::before {
  height: 80px;
  width: 80px;
  content: '”';
  position: absolute;
  display: flex;
  align-items: center;
  top: 30px;
  left: 0px;
  font-size: 180px;
}

.achievements, .experience, .training, .interests{
  font-size: 17px;
}

.training {
  padding-bottom: 60px;
  border-bottom: 5px solid black;
}